@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

:root {
  --color-primary: #8b5cf6;
  --color-primary-soft: #a78bfa;
  --color-primary-glow: #c4b5fd;
  --color-blue: #3b82f6;
  --color-blue-soft: #60a5fa;
  --color-blue-glow: #93c5fd;
}

[data-theme='light'] {
  --bg-base: #f8f9fb;
  --bg-soft: #eef1f6;
  --border: #d6dae3;
}

[data-theme='dark'] {
  --bg-base: #1a1d24;
  --bg-soft: #0f1115;
  --border: #2a2f3a;
}
